<Ldoctype html>
    <html lang="es">

    <head>

        <!-- Required meta tags -->
        <title>Calendario de asistencias</title>

        <!-- Estilos y fuentes del template  -->
        {% load static %}
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
        <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    </head>

    <body>

    <nav aria-label="Page navigation example">
        <ul class="pagination text-center">
            <li class="page-item text-center">
                <a class="page-link" href="{% url "noviembre" %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="{% url "diciembre" %}">diciembre</a></li>
            <li class="page-item">
                <a class="page-link" href="{% url "enero" %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="form-group text-right mb-0 text-primary">
        <button type="submit" class="btn-btn-primary">Registrar</button>
        <button type="submit" class="btn-btn-primary">Modificar</button>
        <button type="reset" class="btn-btn-primary">Borrar</button>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

    </body>
    </html>