<Ldoctype html>
    <html lang="es">

    <head>

        <!-- Required meta tags -->
        <title>Calendario de asistencias</title>

        <!-- Estilos y fuentes del template  -->
        {% load static %}
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
        <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    </head>

    <body>

    <nav aria-label="Page navigation">
        <ul class="pagination text-center">
            <li class="page-item text-center">
                <a class="page-link" href="{% url "septiembre" %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="{% url "octubre" %}">octubre</a></li>
            <li class="page-item">
                <a class="page-link" href="{% url "noviembre" %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        </ul>
    </nav>

    <table class="table">
        <thead>
        <tr class="-align-center">
            <th></th>
            <th></th>
            <th></th>
            <th>OCTUBRE</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lunes</td>
            <td>Martes</td>
            <td>Miercoles</td>
            <td>Jueves</td>
            <td>Viernes</td>
            <td>Sabado</td>
            <td>Domingo</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
        </tr>
        <tr>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
        </tr>
        <tr>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group text-right mb-0 text-primary">
        <button type="submit" class="btn-btn-primary">Registrar</button>
        <button type="submit" class="btn-btn-primary">Modificar</button>
        <button type="reset" class="btn-btn-primary">Borrar</button>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

    </body>
    </html>